@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
	background-color:#fff;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:10;
	position:fixed;
	text-align:center;
}

body {
	background-color:#f5f5f5;
}

.navbar {
	height:64px;
	width:100%;
	position:fixed;
	left:0px;
	top:0px;
	background-color:#0097a7;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	color:#fff;
	user-select:none;
	cursor:default;
	z-index:8;
}

.navbar .material-icons {
	font-size:24px;
	width:64px;
	height:64px;
	vertical-align:middle;
	line-height:64px;
	text-align:center;
	cursor:pointer;
}

.navbar .title {
	color:#fff;
	font-family:roboto;
	font-size:18px;
	vertical-align:middle;
	line-height:64px;
}

.material-icons {
	user-select:none;
	cursor:default;
}

.explorer {
	z-index:9;
	height:100%;
	width:440px;
	background-color:#fff;
	position:fixed;
	top:0px;
	left:-440px;
	box-shadow: 
		0px 0px 0px 9999px rgba(0,0,0,0.32),
		0px 0px 11px 2px rgba(0,0,0,0.4);
	opacity:0;
}

.explorer > option {
	height:64px;
	color:#212121;
	font-family:roboto;
	font-size:18px;
	vertical-align:middle;
	line-height:64px;
	padding-left:100px;
	border-bottom:1px solid #dedede;
	user-select:none;
	cursor:pointer;
	transition:all 0.2s linear;
}

.explorer > option:hover {
	background-color:#0097a7;
	color:#fff;
}

.portal {
	border:none;
	height:calc(100% - 64px);
	width:100%;
	left:0px;
	top:64px;
}

.card {
	width:440px;
	height:240px;
	background-color:#fff;
	border-radius:2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);	
	margin:5px;
	margin-bottom:48px;
	padding:8px;
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cards {
	width:100%;
	height:100%;
	top:0px;
	left:calc(50% - 220px);
	position:fixed;
	overflow-y:scroll;
}

.cards::-webkit-scrollbar {
	width:0px;
}

.card.placeholder {
	visibility:hidden;
}

.card.data {
	text-align:center;
}

.card.data > h1 {
	font-family:roboto;
	color:#212121;
	font-size:48px;
}

.card.data > h6 {
	font-family:roboto;
	color:#212121;
	font-size:16px;
}