
.sc0 {
	color: #C0C0C0;
}
.sc1 {
	color: #268BD2;
}
.sc3 {
	color: #B58900;
}
.sc4 {
	color: #B58900;
}
.sc6 {
	color: #2AA198;
}
.sc7 {
	color: #2AA198;
}
.sc8 {
}
.sc10 {
	font-style: italic;
	color: #F34B91;
}
.sc11 {
	color: #268BD2;
}
code {
	padding:8px;
	border-radius:2px;
	padding-top:10px;
	margin:2px;
	background-color:rgb(0,43,54)
}
code span {
	font-family: 'Consolas';
	font-size: 14pt;
	color: #93A1A1;
}